@charset "UTF-8";
.caseshow_content {
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 100px;
}
.caseshow_content>.row>.col-xs-4>div:first-child{
    width: 400px;
    height: 263px;
    overflow: hidden;
}

.caseshow_content>.row>.col-xs-4>div:not(:first-child){
    font-family: "Microsoft YaHei";
    margin-left: 20px;
}
.caseshow_content>.row>.col-xs-4 img{
    width: 100%;
    height: 100%;
}
.caseshow_box>.row{
    margin-top: 40px;
    margin-bottom: 40px;
}

.case_news_content{
    margin:0 auto;
    width: 1200px;
    height: auto;
    overflow: hidden;
    margin-bottom: 140px
}
.case_news_content img {
    margin-top: 10px;
    width: 100%;
}
.case_news_title {
    margin-top: 40px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}
.case_news_mintitle {
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 30px;
    font-size: 14px;
}
.case_news_type {
    margin-top: 7px;
    float: left;
    margin-left: 500px;
}
.case_news_date {
    margin-left: 40px;
    margin-top: 7px;
    float: left;
}
.case_news_article {
    margin-top: 50px;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 35px;
}